.splash {
  background-image: url('jazmin-quaynor.jpg');
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.middle {
  margin-top: .3rem !important;
  font-size: 3em;
  letter-spacing: .5em;
  text-transform: uppercase;
  font-family: monospace !important;
}

.profile-img {
  height: 500px;
  width: auto;
}
