body {
  background-image: url("white_brick_wall.png");
}

#color-picker {
  position: absolute;
  z-index: 2;
}

#middle {
  text-align: center;
  background: linear-gradient(
    to right,
    #fff3fa 20%,
    pink 40%,
    pink 60%,
    #fff3fa 80%
  );
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: shine 2.5s linear infinite;
  animation: shine 2.5s linear infinite;
}
@-webkit-keyframes shine {
  to {
    background-position: 200% center;
  }
}
@keyframes shine {
  to {
    background-position: 200% center;
  }
}

#picker-container {
  z-index: 2;
  position: relative;
  top: 80px;
  left: -100px;
}

#settings {
  margin-top: 5rem;
}

#splash {
  background-image: url("jazmin-quaynor.jpg");
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#swatch {
  padding: 5px;
  background: #fff;
  border-radius: 1px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  display: inline-block;
  cursor: pointer;
}

#swatch-color {
  width: 50px;
  height: 50px;
  border-radius: 2px;
}

.ui button {
  background: #ffbfcb none !important;
  color: white !important;
}

#user-form {
  max-width: 800px;
  top: 20vh;
  left: 25vw;
}

#user-container {
  margin-top: 3rem !important;
}
