@import url("https://fonts.googleapis.com/css?family=Arbutus+Slab|Courgette|Homemade+Apple|Spectral+SC");

#quote {
  margin-top: 35vh !important;
  background-color: pink !important;
  font-family: "Homemade Apple", cursive !important;
  font-size: 5rem !important;
  width: 100vw;
}

#moodboard-title {
  font-family: "Homemade Apple", cursive !important;
  font-size: 3rem !important;
  margin-top: -2.5vh !important;
  margin-bottom: 2vh !important;
}

#moodboard-container {
  margin-top: 3rem;
}

.ui.toggle.checkbox input:focus:checked ~ .box:before,
.ui.toggle.checkbox input:focus:checked ~ label:before,
.ui.toggle.checkbox input:checked ~ .box:before,
.ui.toggle.checkbox input:checked ~ label:before {
  background-color: #b5cc18 !important;
}

#project-header {
  font-family: "Arbutus Slab", serif !important;
  color: pink !important;
}

#project-container {
  margin-top: 20vh !important;
}

#project-item:hover {
  background-color: pink !important;
}

#username {
  font-family: "Homemade Apple", cursive !important;
  font-size: 2.5rem !important;
  color: pink !important;
  overflow: inherit !important;
}

#middle {
  margin-top: 0.3rem !important;
  font-size: 2em;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  font-family: "Spectral SC", serif !important;
}
